<ion-header>
    <ion-toolbar>
        <ion-title>Contas a receber</ion-title>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>


</ion-content>