
  <ion-header>
    <ion-toolbar>
      <ion-title>Contas a {{tipo}}</ion-title>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-list>
      <ion-item *ngFor="let account of listAccounts">
        <ion-label>
          <h2>{{account.parceiro}}</h2>
          <p>{{account.descricao}}</p>
          <h3>R$ {{account.valor}}</h3>
        </ion-label>
        <ion-icon slot="end" color="primary" (click)="editAccount(account)" name="create"></ion-icon>
        <ion-icon slot="end" color="danger" (click)="remove(account)" name="trash"></ion-icon>
      </ion-item>
    </ion-list>

     <!-- fab placed to the bottom end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/accounts/registration']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
