<ion-header>
  <ion-toolbar>
    <ion-title>Nova Conta</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form [formGroup]="accountForm" (submit)="registerAccount()">

    <ion-item>
      <ion-icon name="person" color="if" slot="start"></ion-icon>
      <ion-input formControlName="parceiro" placeholder="Parceiro Comercial" autfocus="true"></ion-input>
    </ion-item><br>

    <ion-item>
      <ion-icon name="document" color="if" slot="start"></ion-icon>
      <ion-input formControlName="descricao" placeholder="Descrição"></ion-input>
    </ion-item><br>

    <ion-item>
      <ion-icon name="wallet" color="if" slot="start"></ion-icon>
      <ion-input formControlName="valor" type="number" placeholder="Valor"></ion-input>
    </ion-item><br>

    <ion-item>
      <ion-label>Vencimento</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD MMMM YYYY" formControlName="data"></ion-datetime>
    </ion-item>
    <br>

    <ion-list>
      <ion-radio-group value="tipo" formControlName="tipo">
        <ion-list-header>
          <ion-label>Tipo</ion-label>
        </ion-list-header>

        <ion-item>
          <ion-label>A pagar</ion-label>
          <ion-radio slot="start" value="pay"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>A receber</ion-label>
          <ion-radio slot="start" value="receive"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    <ion-button [disabled]="accountForm.invalid" type="submit" expand="block" color="if">Cadastrar</ion-button>
  </form>

</ion-content>