#container {
  text-align: center;
  margin-top: 50px;
  top: 50%;
  display: flex;
  flex-direction: column;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

}

#container a {
  text-decoration: none;
}

#menuBtn{
  background-color: aliceblue;
  color: black;
  margin: 0px;
}

#headerTop{
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  display: flex;
  margin: 0px;
}

ion-header{
  background-color: #1f93c5;
}