<ion-header id="headerTop" [translucent]="true">
  <div id="menuImg">
      <img src="./../../../assets/icon/iFinancas.png" width="150"/>
    </div>
    <div>
      <ion-button id="menuBtn" (click)="logout()" color="white">Sair</ion-button>
    </div>
</ion-header>
<ion-content>

  <ion-item>
    <ion-label>Mês</ion-label>
    <ion-datetime displayFormat="MM/YYYY" pickerFormat="MMMM YYYY" [(ngModel)]="date" (ngModelChange)="atualizaContas()" ></ion-datetime>
  </ion-item>
  
  <dash-card
    valor={{conta.pagar.valor}}
    tipo="pagar"
    num={{conta.pagar.num}}
  ></dash-card>

  <dash-card
    valor={{conta.receber.valor}}
    tipo="receber"
    num={{conta.receber.num}}
  ></dash-card>

  <dash-card
  valor={{conta.saldo.valor}}
  tipo="saldo"
  num={{conta.saldo.num}}
  ></dash-card>
  
  <div id="container">
    <ion-button fill="clear" [routerLink]="['/accounts/pay']">Contas a pagar</ion-button>
    <ion-button fill="clear" [routerLink]="['/accounts/receive']" >Contas a receber</ion-button>
  </div>
</ion-content>
